In [1]:
import pandas as pd
import datetime
import numpy as np

In [2]:
df = pd.read_csv("/content/houseprice.csv",usecols=["SalePrice", "MSSubClass", "MSZoning", "LotFrontage", "LotArea",
                                         "Street", "YearBuilt", "LotShape", "1stFlrSF", "2ndFlrSF"]).dropna()

In [3]:
df.head()

   MSSubClass MSZoning  LotFrontage  ...  1stFlrSF 2ndFlrSF SalePrice
0          60       RL         65.0  ...       856      854    208500
1          20       RL         80.0  ...      1262        0    181500
2          60       RL         68.0  ...       920      866    223500
3          70       RL         60.0  ...       961      756    140000
4          60       RL         84.0  ...      1145     1053    250000

[5 rows x 10 columns]

In [4]:
df['Total years'] = datetime.datetime.now().year-df['YearBuilt']

In [5]:
df.drop('YearBuilt',axis=1,inplace = True)

In [6]:
df.head()

   MSSubClass MSZoning  LotFrontage  ...  2ndFlrSF SalePrice Total years
0          60       RL         65.0  ...       854    208500          17
1          20       RL         80.0  ...         0    181500          44
2          60       RL         68.0  ...       866    223500          19
3          70       RL         60.0  ...       756    140000         105
4          60       RL         84.0  ...      1053    250000          20

[5 rows x 10 columns]

In [7]:
cat_features=["MSSubClass", "MSZoning", "Street", "LotShape"]
out_feature="SalePrice"

In [8]:
from sklearn.preprocessing import LabelEncoder
encoder =  {}
encoder['MSSubClass'] = LabelEncoder()
encoder['MSSubClass'].fit_transform(df['MSSubClass'])

array([5, 0, 5, ..., 6, 0, 0])

In [9]:
encoder = {}
for feature in cat_features:
  encoder[feature] = LabelEncoder()
  df[feature] = encoder[feature].fit_transform(df[feature])

In [ ]:
df

In [11]:
cat_features = np.stack([df['MSSubClass'],df['MSZoning'],df['Street'],df['LotShape']],1)
cat_features

array([[5, 3, 1, 3],
       [0, 3, 1, 3],
       [5, 3, 1, 0],
       ...,
       [6, 3, 1, 3],
       [0, 3, 1, 3],
       [0, 3, 1, 3]])

In [13]:
import torch
cat_features = torch.tensor(cat_features,dtype=torch.int64)
cat_features

tensor([[5, 3, 1, 3],
        [0, 3, 1, 3],
        [5, 3, 1, 0],
        ...,
        [6, 3, 1, 3],
        [0, 3, 1, 3],
        [0, 3, 1, 3]])

In [14]:
cont_features = []
for i in df.columns:
  if i in ['MSSubClass','MSZoning','Street','LotShape','SalePrice']:
    pass
  else:
    cont_features.append(i)

In [16]:
cont_features

['LotFrontage', 'LotArea', '1stFlrSF', '2ndFlrSF', 'Total years']

In [17]:
cont_values = np.stack([df[i].values for i in cont_features],axis=1)
cont_values = torch.tensor(cont_values,dtype=torch.float)
cont_values

tensor([[   65.,  8450.,   856.,   854.,    17.],
        [   80.,  9600.,  1262.,     0.,    44.],
        [   68., 11250.,   920.,   866.,    19.],
        ...,
        [   66.,  9042.,  1188.,  1152.,    79.],
        [   68.,  9717.,  1078.,     0.,    70.],
        [   75.,  9937.,  1256.,     0.,    55.]])

In [18]:
y = torch.tensor(df['SalePrice'].values,dtype=torch.float).reshape(-1,1)
y

tensor([[208500.],
        [181500.],
        [223500.],
        ...,
        [266500.],
        [142125.],
        [147500.]])

In [19]:
cat_dims = [len(df[col].unique()) for col in ['MSSubClass','MSZoning','Street','LotShape']]

In [20]:
cat_dims

[15, 5, 2, 4]

In [21]:
embedding_dim = [(x,min(50,(x+1)//2)) for x in cat_dims]

In [22]:
embedding_dim

[(15, 8), (5, 3), (2, 1), (4, 2)]

In [23]:
import torch
import torch.nn as nn
import torch.nn.functional as F
embed_representation=nn.ModuleList([nn.Embedding(inp,out) for inp,out in embedding_dim])
embed_representation

ModuleList(
  (0): Embedding(15, 8)
  (1): Embedding(5, 3)
  (2): Embedding(2, 1)
  (3): Embedding(4, 2)
)

In [22]:
cat_featurers  = cat_feat[:4]
cat_featurers

tensor([[5, 3, 1, 3],
        [0, 3, 1, 3],
        [5, 3, 1, 0],
        [6, 3, 1, 0]])

In [25]:
pd.set_option('display.max_rows',500)
embedding_val = []
for i,e in enumerate(embed_representation):
  embedding_val.append(e(cat_features[:,i]))

In [26]:
embedding_val

[tensor([[ 1.3084,  0.5572,  0.3316,  ...,  0.3779,  0.4534,  0.9133],
         [ 0.8084, -0.6820,  1.1680,  ..., -0.0459,  0.7412,  0.1600],
         [ 1.3084,  0.5572,  0.3316,  ...,  0.3779,  0.4534,  0.9133],
         ...,
         [ 0.2987, -0.6146,  0.4999,  ...,  0.4067,  0.4051, -0.4147],
         [ 0.8084, -0.6820,  1.1680,  ..., -0.0459,  0.7412,  0.1600],
         [ 0.8084, -0.6820,  1.1680,  ..., -0.0459,  0.7412,  0.1600]],
        grad_fn=<EmbeddingBackward>), tensor([[ 1.6386, -0.5319,  2.3992],
         [ 1.6386, -0.5319,  2.3992],
         [ 1.6386, -0.5319,  2.3992],
         ...,
         [ 1.6386, -0.5319,  2.3992],
         [ 1.6386, -0.5319,  2.3992],
         [ 1.6386, -0.5319,  2.3992]], grad_fn=<EmbeddingBackward>), tensor([[-0.2293],
         [-0.2293],
         [-0.2293],
         ...,
         [-0.2293],
         [-0.2293],
         [-0.2293]], grad_fn=<EmbeddingBackward>), tensor([[-0.6975,  0.8154],
         [-0.6975,  0.8154],
         [-1.2093,  0.1298],
         ...,
         [-0.6975,  0.8154],
         [-0.6975,  0.8154],
         [-0.6975,  0.8154]], grad_fn=<EmbeddingBackward>)]

In [27]:
z = torch.cat(embedding_val,1)
z

tensor([[ 1.3084,  0.5572,  0.3316,  ..., -0.2293, -0.6975,  0.8154],
        [ 0.8084, -0.6820,  1.1680,  ..., -0.2293, -0.6975,  0.8154],
        [ 1.3084,  0.5572,  0.3316,  ..., -0.2293, -1.2093,  0.1298],
        ...,
        [ 0.2987, -0.6146,  0.4999,  ..., -0.2293, -0.6975,  0.8154],
        [ 0.8084, -0.6820,  1.1680,  ..., -0.2293, -0.6975,  0.8154],
        [ 0.8084, -0.6820,  1.1680,  ..., -0.2293, -0.6975,  0.8154]],
       grad_fn=<CatBackward>)

In [28]:
dropout = nn.Dropout(0.4)

In [29]:
final_embed = dropout(z)
final_embed

tensor([[ 2.1806,  0.9287,  0.5526,  ..., -0.0000, -0.0000,  0.0000],
        [ 1.3473, -0.0000,  0.0000,  ..., -0.0000, -1.1625,  0.0000],
        [ 0.0000,  0.0000,  0.5526,  ..., -0.0000, -2.0155,  0.2164],
        ...,
        [ 0.0000, -0.0000,  0.0000,  ..., -0.3822, -1.1625,  0.0000],
        [ 0.0000, -1.1366,  0.0000,  ..., -0.0000, -1.1625,  1.3591],
        [ 1.3473, -1.1366,  1.9466,  ..., -0.0000, -1.1625,  1.3591]],
       grad_fn=<MulBackward0>)

In [32]:
import torch
import torch.nn as nn
import torch.nn.functional as F
class FeedForwardNN(nn.Module):

    def __init__(self, embedding_dim, n_cont, out_sz, layers, p=0.5):
        super().__init__()
        self.embeds = nn.ModuleList([nn.Embedding(inp,out) for inp,out in embedding_dim])
        self.emb_drop = nn.Dropout(p)
        self.bn_cont = nn.BatchNorm1d(n_cont)
        
        layerlist = []
        n_emb = sum((out for inp,out in embedding_dim))
        n_in = n_emb + n_cont
        
        for i in layers:
            layerlist.append(nn.Linear(n_in,i)) 
            layerlist.append(nn.ReLU(inplace=True))
            layerlist.append(nn.BatchNorm1d(i))
            layerlist.append(nn.Dropout(p))
            n_in = i
        layerlist.append(nn.Linear(layers[-1],out_sz))
            
        self.layers = nn.Sequential(*layerlist)
    
    def forward(self, x_cat, x_cont):
        embeddings = []
        for i,e in enumerate(self.embeds):
            embeddings.append(e(x_cat[:,i]))
        x = torch.cat(embeddings, 1)
        x = self.emb_drop(x)
        
        x_cont = self.bn_cont(x_cont)
        x = torch.cat([x, x_cont], 1)
        x = self.layers(x)
        return x

In [33]:
len(cont_features)

5

In [35]:
torch.manual_seed(100)
model = FeedForwardNN(embedding_dim,len(cont_features),1,[100,50],p=0.2)

In [36]:
model

FeedForwardNN(
  (embeds): ModuleList(
    (0): Embedding(15, 8)
    (1): Embedding(5, 3)
    (2): Embedding(2, 1)
    (3): Embedding(4, 2)
  )
  (emb_drop): Dropout(p=0.2, inplace=False)
  (bn_cont): BatchNorm1d(5, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (layers): Sequential(
    (0): Linear(in_features=19, out_features=100, bias=True)
    (1): ReLU(inplace=True)
    (2): BatchNorm1d(100, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (3): Dropout(p=0.2, inplace=False)
    (4): Linear(in_features=100, out_features=50, bias=True)
    (5): ReLU(inplace=True)
    (6): BatchNorm1d(50, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (7): Dropout(p=0.2, inplace=False)
    (8): Linear(in_features=50, out_features=1, bias=True)
  )
)

In [37]:
loss_func = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(),lr=0.01)

In [38]:
df.shape

(1201, 10)

In [40]:
batch_size = 1200
test_size=int(batch_size*0.15)
train_categorical=cat_features[:batch_size-test_size]
test_categorical=cat_features[batch_size-test_size:batch_size]
train_cont=cont_values[:batch_size-test_size]
test_cont=cont_values[batch_size-test_size:batch_size]
y_train=y[:batch_size-test_size]
y_test=y[batch_size-test_size:batch_size]

In [ ]:
epochs=5000
final_losses=[]
for i in range(epochs):
    i=i+1
    y_pred=model(train_categorical,train_cont)
    loss=torch.sqrt(loss_func(y_pred,y_train))
    final_losses.append(loss)
    if i%10==1:
        print("Epoch number: {} and the loss : {}".format(i,loss.item()))
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

Epoch number: 1 and the loss : 200496.796875
Epoch number: 11 and the loss : 200493.34375
Epoch number: 21 and the loss : 200488.71875
Epoch number: 31 and the loss : 200482.21875
Epoch number: 41 and the loss : 200473.125
Epoch number: 51 and the loss : 200461.265625
Epoch number: 61 and the loss : 200445.890625
Epoch number: 71 and the loss : 200427.8125
Epoch number: 81 and the loss : 200406.796875
Epoch number: 91 and the loss : 200380.828125
Epoch number: 101 and the loss : 200352.421875
Epoch number: 111 and the loss : 200322.28125
Epoch number: 121 and the loss : 200287.265625
Epoch number: 131 and the loss : 200247.078125
Epoch number: 141 and the loss : 200200.421875
Epoch number: 151 and the loss : 200155.703125
Epoch number: 161 and the loss : 200107.40625
Epoch number: 171 and the loss : 200060.109375
Epoch number: 181 and the loss : 199994.078125
Epoch number: 191 and the loss : 199939.40625
Epoch number: 201 and the loss : 199875.90625
Epoch number: 211 and the loss : 199808.453125
Epoch number: 221 and the loss : 199736.515625
Epoch number: 231 and the loss : 199657.109375
Epoch number: 241 and the loss : 199582.484375
Epoch number: 251 and the loss : 199501.859375
Epoch number: 261 and the loss : 199407.453125
Epoch number: 271 and the loss : 199322.28125
Epoch number: 281 and the loss : 199237.28125
Epoch number: 291 and the loss : 199130.265625
Epoch number: 301 and the loss : 199043.25
Epoch number: 311 and the loss : 198933.875
Epoch number: 321 and the loss : 198813.640625
Epoch number: 331 and the loss : 198716.703125
Epoch number: 341 and the loss : 198613.3125
Epoch number: 351 and the loss : 198484.703125
Epoch number: 361 and the loss : 198368.890625
Epoch number: 371 and the loss : 198246.46875
Epoch number: 381 and the loss : 198122.515625
Epoch number: 391 and the loss : 197988.765625
Epoch number: 401 and the loss : 197844.9375
Epoch number: 411 and the loss : 197720.71875
Epoch number: 421 and the loss : 197548.953125
Epoch number: 431 and the loss : 197400.71875
Epoch number: 441 and the loss : 197289.65625
Epoch number: 451 and the loss : 197148.859375
Epoch number: 461 and the loss : 196967.0625
Epoch number: 471 and the loss : 196831.984375
Epoch number: 481 and the loss : 196658.375
Epoch number: 491 and the loss : 196512.609375
Epoch number: 501 and the loss : 196337.328125
Epoch number: 511 and the loss : 196154.453125
Epoch number: 521 and the loss : 195990.53125
Epoch number: 531 and the loss : 195817.765625
Epoch number: 541 and the loss : 195622.890625
Epoch number: 551 and the loss : 195439.125
Epoch number: 561 and the loss : 195264.171875
Epoch number: 571 and the loss : 195095.703125
Epoch number: 581 and the loss : 194845.46875
Epoch number: 591 and the loss : 194704.078125
Epoch number: 601 and the loss : 194488.4375
Epoch number: 611 and the loss : 194278.84375
Epoch number: 621 and the loss : 194077.671875
Epoch number: 631 and the loss : 193824.5
Epoch number: 641 and the loss : 193658.5625
Epoch number: 651 and the loss : 193481.796875
Epoch number: 661 and the loss : 193241.65625
Epoch number: 671 and the loss : 193019.78125
Epoch number: 681 and the loss : 192781.796875
Epoch number: 691 and the loss : 192591.203125
Epoch number: 701 and the loss : 192342.921875
Epoch number: 711 and the loss : 192149.546875
Epoch number: 721 and the loss : 191839.828125
Epoch number: 731 and the loss : 191601.984375
Epoch number: 741 and the loss : 191403.96875
Epoch number: 751 and the loss : 191168.796875
Epoch number: 761 and the loss : 190956.53125
Epoch number: 771 and the loss : 190665.265625
Epoch number: 781 and the loss : 190538.078125
Epoch number: 791 and the loss : 190148.421875
Epoch number: 801 and the loss : 189920.171875
Epoch number: 811 and the loss : 189615.546875
Epoch number: 821 and the loss : 189466.25
Epoch number: 831 and the loss : 189024.59375
Epoch number: 841 and the loss : 188890.421875
Epoch number: 851 and the loss : 188597.3125
Epoch number: 861 and the loss : 188375.28125
Epoch number: 871 and the loss : 188022.875
Epoch number: 881 and the loss : 187746.6875
Epoch number: 891 and the loss : 187531.359375
Epoch number: 901 and the loss : 187196.375
Epoch number: 911 and the loss : 186987.703125
Epoch number: 921 and the loss : 186664.265625
Epoch number: 931 and the loss : 186411.125
Epoch number: 941 and the loss : 186101.53125
Epoch number: 951 and the loss : 185830.25
Epoch number: 961 and the loss : 185442.890625
Epoch number: 971 and the loss : 185123.1875
Epoch number: 981 and the loss : 184997.21875
Epoch number: 991 and the loss : 184458.4375
Epoch number: 1001 and the loss : 184403.765625
Epoch number: 1011 and the loss : 183862.609375
Epoch number: 1021 and the loss : 183639.8125
Epoch number: 1031 and the loss : 183154.3125
Epoch number: 1041 and the loss : 182999.03125
Epoch number: 1051 and the loss : 182748.578125
Epoch number: 1061 and the loss : 182337.71875
Epoch number: 1071 and the loss : 182039.96875
Epoch number: 1081 and the loss : 181941.4375
Epoch number: 1091 and the loss : 181487.234375
Epoch number: 1101 and the loss : 181163.359375
Epoch number: 1111 and the loss : 180746.1875
Epoch number: 1121 and the loss : 180517.328125
Epoch number: 1131 and the loss : 180058.046875
Epoch number: 1141 and the loss : 179611.8125
Epoch number: 1151 and the loss : 179478.4375
Epoch number: 1161 and the loss : 179026.703125
Epoch number: 1171 and the loss : 178662.703125
Epoch number: 1181 and the loss : 178322.96875
Epoch number: 1191 and the loss : 177826.546875
Epoch number: 1201 and the loss : 177655.390625
Epoch number: 1211 and the loss : 177311.546875
Epoch number: 1221 and the loss : 176963.515625
Epoch number: 1231 and the loss : 176492.03125
Epoch number: 1241 and the loss : 176007.5
Epoch number: 1251 and the loss : 175763.265625
Epoch number: 1261 and the loss : 175645.703125
Epoch number: 1271 and the loss : 175122.5625
Epoch number: 1281 and the loss : 174761.46875
Epoch number: 1291 and the loss : 174570.8125
Epoch number: 1301 and the loss : 173899.953125
Epoch number: 1311 and the loss : 173741.84375
Epoch number: 1321 and the loss : 173216.40625
Epoch number: 1331 and the loss : 172835.46875
Epoch number: 1341 and the loss : 172401.921875
Epoch number: 1351 and the loss : 171973.4375
Epoch number: 1361 and the loss : 171658.71875
Epoch number: 1371 and the loss : 171178.9375
Epoch number: 1381 and the loss : 171156.34375
Epoch number: 1391 and the loss : 170632.75
Epoch number: 1401 and the loss : 170019.1875
Epoch number: 1411 and the loss : 169579.0
Epoch number: 1421 and the loss : 169296.015625
Epoch number: 1431 and the loss : 168966.890625
Epoch number: 1441 and the loss : 168664.625